pre { line-height: 125%; }
.pygments-hll { background-color: #ffffcc }
.pygments-c { color: #3D7B7B; font-style: italic }
.pygments-err { border: 1px solid #FF0000 }
.pygments-k { color: #008000; font-weight: bold }
.pygments-o { color: #666666 }
.pygments-ch { color: #3D7B7B; font-style: italic }
.pygments-cm { color: #3D7B7B; font-style: italic }
.pygments-cp { color: #9C6500 }
.pygments-cpf { color: #3D7B7B; font-style: italic }
.pygments-c1 { color: #3D7B7B; font-style: italic }
.pygments-cs { color: #3D7B7B; font-style: italic }
.pygments-gd { color: #A00000 }
.pygments-ge { font-style: italic }
.pygments-ges { font-weight: bold; font-style: italic }
.pygments-gr { color: #E40000 }
.pygments-gh { color: #000080; font-weight: bold }
.pygments-gi { color: #008400 }
.pygments-go { color: #717171 }
.pygments-gp { color: #000080; font-weight: bold }
.pygments-gs { font-weight: bold }
.pygments-gu { color: #800080; font-weight: bold }
.pygments-gt { color: #0044DD }
.pygments-kc { color: #008000; font-weight: bold }
.pygments-kd { color: #008000; font-weight: bold }
.pygments-kn { color: #008000; font-weight: bold }
.pygments-kp { color: #008000 }
.pygments-kr { color: #008000; font-weight: bold }
.pygments-kt { color: #B00040 }
.pygments-m { color: #666666 }
.pygments-s { color: #BA2121 }
.pygments-na { color: #687822 }
.pygments-nb { color: #008000 }
.pygments-nc { color: #0000FF; font-weight: bold }
.pygments-no { color: #880000 }
.pygments-nd { color: #AA22FF }
.pygments-ni { color: #717171; font-weight: bold }
.pygments-ne { color: #CB3F38; font-weight: bold }
.pygments-nf { color: #0000FF }
.pygments-nl { color: #767600 }
.pygments-nn { color: #0000FF; font-weight: bold }
.pygments-nt { color: #008000; font-weight: bold }
.pygments-nv { color: #19177C }
.pygments-ow { color: #AA22FF; font-weight: bold }
.pygments-w { color: #bbbbbb }
.pygments-mb { color: #666666 }
.pygments-mf { color: #666666 }
.pygments-mh { color: #666666 }
.pygments-mi { color: #666666 }
.pygments-mo { color: #666666 }
.pygments-sa { color: #BA2121 }
.pygments-sb { color: #BA2121 }
.pygments-sc { color: #BA2121 }
.pygments-dl { color: #BA2121 }
.pygments-sd { color: #BA2121; font-style: italic }
.pygments-s2 { color: #BA2121 }
.pygments-se { color: #AA5D1F; font-weight: bold }
.pygments-sh { color: #BA2121 }
.pygments-si { color: #A45A77; font-weight: bold }
.pygments-sx { color: #008000 }
.pygments-sr { color: #A45A77 }
.pygments-s1 { color: #BA2121 }
.pygments-ss { color: #19177C }
.pygments-bp { color: #008000 }
.pygments-fm { color: #0000FF }
.pygments-vc { color: #19177C }
.pygments-vg { color: #19177C }
.pygments-vi { color: #19177C }
.pygments-vm { color: #19177C }
.pygments-il { color: #666666 }