/* Font imports */
/* latin-ext */
@font-face {
  font-family: "Cantarell Web";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cantarell/v17/B50LF7ZDq37KMUvlO015iZJnNKuiLA.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Cantarell Web";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cantarell/v17/B50LF7ZDq37KMUvlO015iZJpNKs.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Cantarell Web";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cantarell/v17/B50WF7ZDq37KMUvlO015iZrSEb6TDYsmgQ.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Cantarell Web";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cantarell/v17/B50WF7ZDq37KMUvlO015iZrSEb6dDYs.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Cantarell Web";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cantarell/v17/B50NF7ZDq37KMUvlO015gqJrLK8.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Cantarell Web";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cantarell/v17/B50NF7ZDq37KMUvlO015jKJr.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Cantarell Web";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cantarell/v17/B50IF7ZDq37KMUvlO01xN4d-HY6fFY8.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Cantarell Web";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cantarell/v17/B50IF7ZDq37KMUvlO01xN4d-E46f.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Print media css */
@page {
  size: A4;
  margin: 2.54cm;
}

:root {
  /* -- Standard margins */
  --top-margin: 1em;
  --left-margin: 1.5em;

  /* -- Small margins */
  --left-margin-small: 1em;

  /* -- Big margins */
  --left-margin-big: 2em;
  --bottom-margin-big: 0.5em;
}

/* Document structure */
body {
  margin: 0;
  padding: 0;
  font-family: "Cantarell Web", "Cantarell", sans-serif;
  color: #333;
}

/* Headers and paragraphs */
h1,
h2,
h3,
h4,
h5 {
  color: #333;
  font-weight: 400;
}

h1 {
  margin-top: 0;
  margin-bottom: var(--bottom-margin-big);
}

h2,
h3,
h4,
h5,
p {
  margin-top: var(--top-margin);
  margin-bottom: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

/* Links */
a {
  color: #09f;
  margin: 0;
  vertical-align: baseline;
}

/* Lists */
ul,
ol {
  font-size: 12px;
  padding: 0;
  margin-top: var(--top-margin);
  margin-right: 0;
  margin-bottom: var(--bottom-margin);
  margin-left: var(--left-margin-big);
}

ul ol,
ol ul,
ol ol,
ul ul {
  margin-top: 0;
}

/* Code blocks */
pre {
  padding: 0;
  white-space: pre-wrap;
}

code {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
  font-size: 10px;
  background-color: #eee;
  padding-left: 0.4em;
  padding-right: 0.4em;
  display: inline-block;
  border-radius: 0.3em;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code {
  font-size: 0.8em; /* Adjust the font size as needed */
}

/* Quotes */
blockquote {
  margin-top: var(--top-margin);
  margin-left: var(--left-margin);
  max-width: 30em;
  border-left: 4px solid #ccc;
  padding-left: 0.5em;
  color: #666;
}

blockquote > blockquote {
  margin-left: var(--left-margin-small);
}

/* Figures */
img {
  display: block;
  margin: 2em auto;
  max-width: 80%;
}

/* Tables */
table {
  font-size: 10px;
  border-collapse: collapse;
  margin-top: var(--top-margin);
  text-align: left;
  table-layout: auto;
}

thead {
  background-color: #eee;
}

tbody {
  color: #666;
}

th,
td {
  padding: 0.5em 0.75em;
  border: 1px solid #ccc;
  white-space: nowrap;
}

col {
  width: auto;
}

/* Page breaks */
.pagebreak {
  clear: both;
  page-break-after: always;
}

.pagebreak + * {
  margin-top: 0;
}

* {
  page-break-inside: avoid;
}
