:root {
  /* -- Standard margins */
  --top-margin: 0.5em;
  --bottom-margin: 0.5em;
  --left-margin: 1.5em;

  /* -- Small margins */
  --left-margin-small: 1em;

  /* -- Big margins */
  --left-margin-big: 2em;
}

/* Document */
html {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Ubuntu", "DejaVu Sans", "Liberation Sans", "Arial",
    "sans-serif";
  color: #333;
}

/* Headers and paragraphs */
h1,
h2,
h3,
h4,
h5 {
  color: #333;
  font-weight: 600;
}

h1 {
  margin-top: 0;
  margin-bottom: var(--bottom-margin);
}

h2,
h3,
h4,
h5,
p {
  margin-top: var(--top-margin);
  margin-bottom: 0;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

/* Links */
a {
  color: #09f;
  margin: 0;
  vertical-align: baseline;
}

/* Lists */
ul,
ol {
  font-size: 1rem;
  padding: 0;
  margin-top: var(--top-margin);
  margin-right: 0;
  margin-bottom: var(--bottom-margin);
  margin-left: var(--left-margin-big);
}

ul ol,
ol ul,
ol ol,
ul ul {
  margin-top: 0;
}

li {
  margin-top: var(--top-margin);
}

/* Code blocks */
pre {
  padding: 0;
  white-space: pre-wrap;
}

code {
  font-family: "JetBrains Mono", "Consolas", "Ubuntu Mono", "DejaVu Sans Mono",
    "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
  background-color: #eee;
  padding-left: 0.4em;
  padding-right: 0.4em;
  display: inline-block;
  border-radius: 0.3em;
  line-height: 1.5;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code {
  font-size: 0.8em;
}

/* Quotes */
blockquote {
  margin-top: var(--top-margin);
  margin-left: var(--left-margin);
  border-left: 4px solid #ccc;
  padding-left: 0.5em;
  color: #666;
}

blockquote > blockquote {
  margin-left: var(--left-margin-small);
}

/* Figures */
img {
  display: block;
  margin: 2em auto 1em auto;
  max-width: 80%;
}

/* -- Figure footer */
p > img + em {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  color: #666;
  display: block;
  margin: 1em auto 2em;
}

/* Tables */
table {
  font-size: 1rem;
  font-family: inherit;
  border-collapse: collapse;
  margin-top: var(--top-margin);
  text-align: left;
  table-layout: auto;
}

thead {
  background-color: #eee;
}

tbody {
  color: #666;
}

th,
td {
  padding: 0.5em 0.75em;
  border: 1px solid #ccc;
  white-space: nowrap;
}

col {
  width: auto;
}

/* Page breaks */
.pagebreak {
  clear: both;
  page-break-after: always;
}

.pagebreak + * {
  margin-top: 0;
}

section,
ol,
ul,
table,
blockquote,
code,
p,
h1,
h2,
h3,
h4,
h5 {
  page-break-inside: avoid;
}

/* Increase vertical padding for math elements with display=block */
math[display="block"] {
  margin-top: 1em;
  margin-bottom: 1em;
}

math {
  text-rendering: optimizeLegibility;
  font-family: "Latin Modern Math", "Cambria Math", serif;
}
