:root {
  /* -- Header margins -- */
  --top-margin: 1em;
  --bottom-margin-small: 0.25em;

  /* -- Element margins -- */
  --bottom-margin: 0.75em;

  /* -- Nested element margins -- */
  --left-margin: 1.5em;
  --left-margin-small: 1em;
  --left-margin-big: 2em;

  /* -- Colors -- */
  --color-text: #333; /* Main text color */
  --color-text-light: #666; /* Tables, blockquotes, footers */
  --color-text-background: #eee; /* Code blocks, table headers */
  --color-border: #999; /* Image borders, rules */
  --color-border-light: #ccc; /* Table borders, blockquotes */
  --color-links: #09f; /* Hyperlinks */
}

/* Document */
html {
  font-size: 12px;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    "Segoe UI", "Ubuntu", "DejaVu Sans", "Liberation Sans", "Arial",
    "sans-serif";
  color: var(--color-text);
}

/* Headers and paragraphs */
h1 {
  margin-top: 0;
  margin-bottom: var(--bottom-margin-small);
}

h2,
h3,
h4,
h5 {
  margin-top: var(--top-margin);
  margin-bottom: var(--bottom-margin-small);
}

p {
  margin-top: 0;
  margin-bottom: var(--bottom-margin);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-text);
  font-weight: 600;
}

h1 {
  font-size: 2.2rem;
  border-bottom: 0.5px solid var(--color-border);
}

h2 {
  font-size: 1.8rem;
  border-bottom: 0.5px solid var(--color-border);
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

/* Links */
a {
  color: var(--color-links);
  margin: 0;
  vertical-align: baseline;
}

/* Lists */
ul,
ol {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: var(--bottom-margin);
  margin-right: 0;
  margin-left: var(--left-margin-small);
  padding-left: var(--left-margin);
}

ul ol,
ol ul,
ol ol,
ul ul {
  margin-bottom: 0;
  margin-left: 0;
  padding-left: var(--left-margin);
}

/* Code blocks */
pre {
  padding: 0;
  white-space: pre-wrap;
}

pre > code {
  display: block;
  padding: 1em;
  margin-top: 0;
  margin-bottom: var(--bottom-margin);
}

code {
  font-family:
    "JetBrains Mono", "Consolas", "Ubuntu Mono", "DejaVu Sans Mono",
    "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
  background-color: var(--color-text-background);
  padding-left: 0.4em;
  padding-right: 0.4em;
  display: inline-block;
  border-radius: 0.3em;
  line-height: 1.5;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code {
  font-size: 0.8em;
}

/* Quotes */
blockquote {
  margin-top: 0;
  margin-bottom: var(--bottom-margin);
  margin-left: var(--left-margin);
  border-left: 4px solid var(--color-border-light);
  padding-left: 0.5em;
  color: var(--color-text-light);
}

blockquote > blockquote {
  padding-left: var(--left-margin-small);
}

/* Images */
img {
  max-width: 80vw;
  max-height: 80vh;
  width: auto;
  height: auto;
  display: block;
  margin: 1em auto;
}

/* Image footers */
p > img + em {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  color: var(--color-text-light);
  display: block;
  margin: 1em auto;
}

/* Image alt text attributes */
img[alt*="::tiny::"],
img[alt*="::smallest::"] {
  width: 10vw;
}

img[alt*="::small::"] {
  width: 30vw;
}

img[alt*="::medium::"],
img[alt*="::normal::"] {
  width: 60vw;
}

img[alt*="::large::"],
img[alt*="::big::"] {
  width: 80vw;
}

img[alt*="::full::"],
img[alt*="::max::"],
img[alt*="::huge::"],
img[alt*="::wide::"] {
  width: 100vw;
  max-width: 100vw;
}

p:has(> img[alt*="::inline::"]) {
  display: inline-block;
  width: min-content;
  vertical-align: top;
  margin-right: 1em;
}

img[alt*="::shadow::"] {
  box-shadow: rgba(100, 100, 100, 0.4) 0px 2px 8px 0px;
}

img[alt*="::border::"] {
  border: 2px solid var(--color-border);
}

img[alt*="::invert::"] {
  filter: invert(100%);
}

img[alt*="::grayscale::"],
img[alt*="::greyscale::"] {
  filter: grayscale(100%);
}

img[alt*="::circle::"] {
  border-radius: 50%;
}

img[alt*="::rounded::"] {
  border-radius: 1em;
}

/* Tables */
table {
  font-size: 1rem;
  font-family: inherit;
  border-collapse: collapse;
  margin-top: 0;
  margin-bottom: var(--bottom-margin);
  text-align: left;
  width: 100%;
  table-layout: auto;
}

thead {
  background-color: var(--color-text-background);
}

tbody {
  color: var(--color-text-light);
}

th,
td {
  padding: 0.5em 0.75em;
  border: 1px solid var(--color-border-light);
  overflow-wrap: break-word;
  vertical-align: top;
}

th {
  white-space: normal;
  word-break: keep-all;
  hyphens: auto;
}

td {
  white-space: normal;
  word-break: break-word;
}

/* Horizontal rulers */
hr {
  height: 1px;
  background-color: var(--color-border);
  border: none;
}

/* Page breaks */
hr:has(+ hr) {
  visibility: hidden;
}

hr + hr {
  clear: both;
  break-after: always;
  page-break-after: always;
  visibility: hidden;
}

section,
table,
blockquote,
code {
  page-break-inside: avoid;
  break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5 {
  page-break-after: avoid;
  break-after: avoid;
}

/* Mathematical expressions */
math[display="block"] {
  margin-top: 1em;
  margin-bottom: 1em;
}

math {
  text-rendering: optimizeLegibility;
  font-family: "Latin Modern Math", "Cambria Math", serif;
}
